@charset "utf-8";

html
{
    /*background-color: #EBE9E2;*/
    /*background-color: #FFF5EE;*/
    /*background-color: #F0F0E6;*/
    background-color: #f4f4ee;
}

.container
{
    width: 376px;
    height: 376px;
    position: absolute;
    margin-left: -188px;
    left:50%;
    top: 50%;
    margin-top: -188px;

}

.instructions{
    display:none
    ;
    color: #444;
    font-size: 40px;
    font-family: 'Source Sans Pro','Open Sans Condensed', 'HelveticaNeue-Light' sans-serif;
    position:fixed;
    float:left;
}

.face
{
    display: none;
    width: 175px;
    height: 175px;

    /*border: 6px solid white;*/
    box-shadow: 4px 3px 16px rgba(0, 0, 0, .3);

    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;

    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}


/*****************************************************************/
.arrow img
{
    display: none;
    opacity: .1;
    
    position: absolute;
    width: 0px;
    height: 0px;
    margin: auto;
    
    border-radius:999px;
    /*border: 3px solid white;
    box-shadow: 3px 2px 15px rgba(0, 0, 0, .3);*/
}

.up
{
    top: 0; right: 0; bottom: 1; left:0;
    top: +35px;
}
.right
{ 
    top: 0; right: 0; bottom: 0; left:1;
    right: +35px;
}
.down
{
    top: 1; right: 0; bottom: 0; left:0;
    bottom: +35px;
}
.left
{ 
     top: 0; right: 1; bottom: 0; left:0;
    left: +35px;
}

/*****************************************************************/
.bubbles div
{
    display: none;

    width: 125px;
    height: 125px;
    position: absolute;
    margin: auto;

    color:black;
    font-family: 'Source Sans Pro','Open Sans Condensed','HelveticaNeue-Light' sans-serif;
    text-align: center;
    line-height: 125px;

    border-radius:999px;
    box-shadow: 3px 2px 15px rgba(0, 0, 0, .175);

    /*background-color:white;
    /*background-color: #F0F0EE;*/
    /*background-color: #EBE9E2;*/
    /*background-color: #F0F0EE;*/
}

.about
{
    top: 0; bottom: 1; left: 0; right: 0;
    top: -155px;
    font-size: 50px;

    background-color:#34dceb;
    background-size: 100% 100%;
}

.resume
{
    top: 0; bottom:0; left: 1; right:0;
    right: -155px;
    font-size: 40px;

    background-color:#319be7;
    background-size: 100% 100%;
}
.contact
{
    top: 1; bottom:0; left: 0; right:0;
    bottom: -155px;
    font-size: 40px;

    background-color:#6170e5;
    background-size: 100% 100%;
}
.projects
{
    top: 0; bottom:0; left: 0; right:1;
    left: -155px;
    font-size: 37px;

    background-color:#9A0066;
    background-size: 100% 100%;
}

/*****************************************************************/
.text div
{
    overflow: auto;     
    position: fixed;
    margin: auto;

    color:black;
    text-align: center;
    font-family: 'Source Sans Pro','Open Sans Condensed','HelveticaNeue-Light' sans-serif;
    display:none; 
}

.aboutText
{
    /*background-color:#d35500;*/

    top: 0; bottom: 1; left: 0; right: 0;   
    top: 4%;
    left: 0%;
    height: 70%;
    width: 90%;

    padding: 30px;
    font-size: 40px;
    
    /*border: 5px solid red;*/
}

.name{font-size:100px;}
.aboutmyself{font-size:60px;}
.school,.create,.matters,.universal,.learn,.UI,.software,.web,.contacthere
{color:#ff4c00;}
.contacthere:hover{color:#38d;}

.resumeText
{
    top: 0; bottom: 0; left: 1; right: 0;   
    top: 0%;
    right: 10%;
    height: 81%;
    width: 79%;
    font-size: 100px;

    /*border: 5px solid red;*/
}

.contactText
{
    top: 1; bottom: 0; left: 0; right: 0;   
    top: 12%;
    height: 74%;
    width: 90%;
    font-size: 100px;

    /*border: 5px solid red;*/
}
.contactText p{
    margin:5%;
}

.projectsText
{

    top: 0; bottom: 0; left: 0; right: 1;   
    top: 0%;
    left: 10%;
    height: 81%;
    width: 79%;
    font-size: 100px;
   
    /*border: 5px solid red;*/
}

/*****************************************************************/

a{
    color: #333;
    text-decoration: none;

}
a:hover{
    /*color: #ff4c00;*/
    color: #38d;
    text-decoration: none;
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0 2%;
}

