$cl-text-main: #222;
$cl-text-sub: #777;

$cl-text-hl: #fd549e, #ec68f7, #a568f7, #6D54FF;
//$cl-text-hl: #FD6DAC, #EF80F8, #b380f8, #5D62FF;
// $cl-text-hl: #FF548F, #FF54E5, #C454FF, #6D54FF;

$cl-bg-main: #fff;

@keyframes rainbow1 {
  0% { color: nth($cl-text-hl, 1) }
  17% { color: nth($cl-text-hl, 2) }
  33% { color: nth($cl-text-hl, 3) }
  50% { color: nth($cl-text-hl, 4) }
  66% { color: nth($cl-text-hl, 3) }
  83% { color: nth($cl-text-hl, 2 ) }
  100% { color: nth($cl-text-hl, 1) }
}

@keyframes rainbow2 {
  0% { color: nth($cl-text-hl, 2) }
  17% { color: nth($cl-text-hl, 3) }
  33% { color: nth($cl-text-hl, 4) }
  50% { color: nth($cl-text-hl, 3) }
  66% { color: nth($cl-text-hl, 2) }
  83% { color: nth($cl-text-hl, 1 ) }
  100% { color: nth($cl-text-hl, 2) }
}

@keyframes rainbow3 {
  0% { color: nth($cl-text-hl, 3) }
  17% { color: nth($cl-text-hl, 2) }
  33% { color: nth($cl-text-hl, 1) }
  50% { color: nth($cl-text-hl, 2) }
  66% { color: nth($cl-text-hl, 3) }
  83% { color: nth($cl-text-hl, 4 ) }
  100% { color: nth($cl-text-hl, 3) }
}

@keyframes rainbow4 {
  0% { color: nth($cl-text-hl, 4) }
  17% { color: nth($cl-text-hl, 3) }
  33% { color: nth($cl-text-hl, 2) }
  50% { color: nth($cl-text-hl, 1) }
  66% { color: nth($cl-text-hl, 2) }
  83% { color: nth($cl-text-hl, 3 ) }
  100% { color: nth($cl-text-hl, 4) }
}

$animate-link-1: 3s infinite linear rainbow1;
$animate-link-2: 3s infinite linear rainbow2;
$animate-link-3: 3s infinite linear rainbow3;
$animate-link-4: 3s infinite linear rainbow4;
$animate-link: $animate-link-1, $animate-link-2, $animate-link-3, $animate-link-4;

@keyframes rainbowend {
  0% { background-color: nth($cl-text-hl, 1) }
  17% { background-color: nth($cl-text-hl, 2) }
  33% { background-color: nth($cl-text-hl, 3) }
  50% { background-color: nth($cl-text-hl, 4) }
  66% { background-color: nth($cl-text-hl, 3) }
  83% { background-color: nth($cl-text-hl, 2) }
  100% { background-color: nth($cl-text-hl, 1) }
}

$animate-end: 3s infinite linear rainbowend;
