$cl-text-main: #222;
$cl-text-sub: #777;

$cl-text-hl: #fd549e, #ec68f7, #a568f7, #6D54FF;
//$cl-text-hl: #FD6DAC, #EF80F8, #b380f8, #5D62FF;
// $cl-text-hl: #FF548F, #FF54E5, #C454FF, #6D54FF;

$cl-bg-main: #fff;

@keyframes rainbow1 {
  0% { color: nth($cl-text-hl, 1) }
  33% { color: nth($cl-text-hl, 2) }
  66% { color: nth($cl-text-hl, 3) }
  100% { color: nth($cl-text-hl, 4) }
}

@keyframes rainbow2 {
  0% { color: nth($cl-text-hl, 2) }
  17% { color: nth($cl-text-hl, 3) }
  33% { color: nth($cl-text-hl, 4) }
  50% { color: nth($cl-text-hl, 3) }
  66% { color: nth($cl-text-hl, 2) }
  83% { color: nth($cl-text-hl, 1 ) }
  100% { color: nth($cl-text-hl, 2) }
}

@keyframes rainbow3 {
  0% { color: nth($cl-text-hl, 3) }
  17% { color: nth($cl-text-hl, 2) }
  33% { color: nth($cl-text-hl, 1) }
  50% { color: nth($cl-text-hl, 2) }
  66% { color: nth($cl-text-hl, 3) }
  83% { color: nth($cl-text-hl, 4 ) }
  100% { color: nth($cl-text-hl, 3) }
}

$animate-link-1: 1s infinite alternate linear rainbow1;
$animate-link-2: 2s infinite linear rainbow2;
$animate-link-3: 2s infinite linear rainbow3;
$animate-link-4: 1s infinite alternate-reverse linear rainbow1;
$animate-link: $animate-link-1, $animate-link-2, $animate-link-3, $animate-link-4;
