/**
 *	Globals
 */

*{
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
  margin: 0;

	font-size: 62.5%;
}

body{
	padding: 5vw;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: 400;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

hr{
	border: none;
}

a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

p{
	margin: 0;
}
