@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local("-apple-system"), local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("Tahoma");
}
@font-face {
  font-family: calibre;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/calibre_regular.woff');
}
@font-face {
  font-family: calibreSemiBold;
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/calibre_semibold.woff');
}

$font-stack: calibre, -apple-system, Avenir Next, MacBlinkSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif;
$header-stack: calibreSemiBold, system, -apple-system, MacBlinkSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif;

#app,
input,
textarea {
  font-family: $font-stack;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder,
textarea::placeholder {
  color: $cl-text-sub;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-stack;
  @extend .mt0;
}

h1 {
  @extend .f1;
  @extend .lh-title;
}

h2 {
  @extend .f2;
  @extend .lh-title;
}

h4 {
  @extend .f4;
  @extend .lh-title;
}

p {
  font-family: $font-stack;
  @extend .f5;
  @extend .lh-copy;
  @extend .w-90-ns;
}

aside p {
  @extend .f5;
  @extend .lh-copy;
  @extend .w-90-ns;
  line-height: 1.5rem;
  color: $cl-text-sub;
}

a {
  @extend .link;
  text-decoration: underline;
  text-decoration-skip: ink;
}

