@font-face {
  font-family: calibre;
  src: url('../assets/fonts/calibre_regular.woff');
}
@font-face {
  font-family: calibreMedium;
  src: url('../assets/fonts/calibre_medium.woff');
}

$font-stack: calibre, Avenir Next, -apple-system, Roboto, Helvetica, sans-serif;
$header-stack: calibreMedium, -apple-system, Roboto, Helvetica, sans-serif;

#app,
input,
textarea {
  font-family: $font-stack;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder,
textarea::placeholder {
  color: $cl-text-sub;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-stack;
  @extend .mt0;
}

h1 {
  @extend .f1;
  @extend .lh-title;
}

h2 {
  @extend .f2;
  @extend .lh-title;
}

h4 {
  @extend .f4;
  @extend .lh-title;
}

p {
  font-family: $font-stack;
  @extend .f4;
  @extend .lh-copy;
  @extend .w-90-ns;
}

aside p {
  @extend .f4;
  @extend .lh-copy;
  @extend .w-90-ns;
  line-height: 1.5rem;
  color: $cl-text-sub;
}

a {
  @extend .link;
  text-decoration: underline;
  text-decoration-skip: ink;
}

textarea, input {
  @extend .f5;
}

