@media screen and (min-width: 40em) {
  .ph-page {
    padding-left: 13vw;
    padding-right: 13vw;
  }

  .ml-sixth {
    margin-left: calc(100% / 6);
  }

  .ml-fifth {
    margin-left: calc(100% / 5);
  }

  .ml-third {
    margin-left: calc(100% / 3);
  }
}

@media screen and (max-width: 50em){
  .ph-page {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}

@mixin style-link($index) {
  $color: nth($cl-text-hl, $index);

  .link {
    &:hover {
      text-decoration: none;
      animation: nth($animate-link, $index);
    }
    &:focus {
      outline: 3px dashed $color;
      outline-offset: 5px;
    }
  }
}

@mixin set-section-color($index) {
  $color: nth($cl-text-hl, $index);
  @include style-link($index);

  .hl {
    position: relative;
    margin-right: -1px; // TODO: hacky fix
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: $cl-bg-main;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 90%;
      left: 0;
      top: 8%;
      background-color: $color;
      z-index: -1;
      transform: skew(-4deg);
    }
  }

  .end {
    &:before {
      animation: $animate-end;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $color;
  }

  .link {
    color: $color;
    font-weight: 500;
  }

  figure {
    outline: 2px solid $color;
  }

  .btn, input, textarea {
    cursor: pointer;
    border: 2px solid $color;
    transition: background-color .15s ease-in;

    &:focus {
      outline: 3px dashed $color;
      outline-offset: 5px;
    }
  }

  .btn, input[type="submit"] {
    color: $color;

    &:focus {
      outline: 3px dashed $color;
      outline-offset: 5px;
    }
    &:hover:not(:active) {
      animation: nth($animate-link, $index);
    }
    &:active {
      color: $cl-bg-main;
      background-color: $color;
    }
  }
}

@mixin set-nav-color($index) {
  $color: nth($cl-text-hl, $index);
  border-bottom: 4px solid $color;
}

@mixin set-nav-link-color($index) {
  $color: nth($cl-text-hl, $index);
  @include style-link($index);

  .active {
    color: $color;
  }
}
