.ph-page {
  padding-left: 6%;
  padding-right: 6%;
}

@media screen and (min-width: 30em) {
  .ph-page {
    padding-left: 13%;
    padding-right: 13%;
  }

  .pl-sixth {
    padding-left: calc(100% / 6);
  }

  .pl-fifth {
    padding-left: calc(100% / 5);
  }

  .pl-third {
    padding-left: calc(100% / 3);
  }
}

@mixin set-section-color($index) {
  $color: nth($cl-text-hl, $index);

  h1, h2, h4 {
    color: $color;
  }

  .link {
    color: $color;
    &:hover {
      color: black;
    }
  }

  input,
  textarea {
    border-color: $color;
    transition: background-color .15s ease-in;
  }

  input[type="submit"] {
    color: $color;
  }

  input[type="submit"]:hover {
    color: white; // TODO: change to $cl-bg-main hex
    background-color: $color;
  }
}

@mixin set-nav-color($index) {
  $color: nth($cl-text-hl, $index);

  a:hover {
    color: $color;
  }

  &.target {
    a {
      color: $color;
    }
  }
}
