@charset "utf-8";

html
{
    /*background-color: #EBE9E2;*/
    /*background-color: #FFF5EE;*/
    /*background-color: #F0F0E6;*/
    background-color: #f4f4ee;
}

.container
{
    width: 376px;
    height: 376px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -188px;
    margin-top: -188px;

}

.face
{
    display: none;
    width: 175px;
    height: 175px;

    border: 6px solid white;
    box-shadow: 4px 3px 16px rgba(0, 0, 0, .3);

    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;

    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

/*****************************************************************/
.arrow img
{
    display: none;
    opacity: .1;
    
    position: absolute;
    width: 0px;
    height: 0px;
    margin: auto;
    
    border: 3px solid white;
    border-radius:999px;
    box-shadow: 3px 2px 15px rgba(0, 0, 0, .3);

}

.up
{
    top: 0; right: 0; bottom: 1; left:0;
    top: +35px;
}
.right
{ 
    top: 0; right: 0; bottom: 0; left:1;
    right: +35px;
}
.down
{
    top: 1; right: 0; bottom: 0; left:0;
    bottom: +35px;
}
.left
{ 
     top: 0; right: 1; bottom: 0; left:0;
    left: +35px;
}

/*****************************************************************/

.bubbles div
{
    display: none;

    width: 125px;
    height: 125px;
    position: absolute;
    margin: auto;

    color:black;
    font-family: 'Source Sans Pro','Open Sans Condensed' sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 25px;
    line-height:0px;

    /*border: 5px solid white;*/
    border-radius:999px;
    box-shadow: 3px 2px 15px rgba(0, 0, 0, .175);

    background-color:white;
    /*background-color: #F0F0EE;*/
    /*background-color: #EBE9E2;*/
    /*background-color: #F0F0EE;*/
}

.about
{
    top: 0; bottom: 1; left: 0; right: 0;
    top: -140px;
    /*background-color:#d35500;*/
    background-image:url('img/topbanner.png');
    background-size: 100% 100%;
}

.resume
{
    top: 0; bottom:0; left: 1; right:0;
    right: -295px;
    background-color:#007fd3;
}
.contact
{
    top: 1; bottom:0; left: 0; right:0;
    bottom: -140px;
    background-color:#29b9aa;
}
.projects
{
    top: 0; bottom:0; left: 0; right:1;
    left: -295px;
    background-color:#27ae60;
}

/*****************************************************************/
.text div
{
    position: fixed;
    word-wrap:break-word;
    margin: auto;
    color:black;

    font-family: 'Source Sans Pro', 'HelveticaNeue-Light' sans-serif;
}

.aboutText
{
    display:none;   
    /*background-color:#d35500;*/

    top: 0; bottom: 1; left: 0; right: 0;   
    top: 15%;
    left: 0%;
    /*float:left;*/
    height: 63%;
    width: 90%;
    border: 5px solid red;

    font-size: 40px;
}

.name{font-size:85px;}
.school{color:#ff4c00;}
.cs
{
    /*font-family:'Source Code Pro', sans-serif; 
    background:black; 
    color: #00FF00;
    font-size: 25px;*/
}


.aboutBody
{
    text-align: center;
}

/*.about p:nth-child(2)
{
    font-size: 160px;
}
.about p:nth-child(3)
{
    font-size: 40px;
}
.about p:nth-child(4)
{
    font-size: 30px;
}*/

