@import "../bourbon/bourbon";

$large: 750px;
$medium: 650px;
$small: 550px;

@mixin background-cover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin flexbox{
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-align-center{
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

*{
  margin: 0;
  font-family: 'Lato' sans-serif;
}

html,body{
  height: 100%;
}

body{
  background: black;
  overflow: hidden;
  color: white;
}

section{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container{
  background: url("../../img/moon.jpg") no-repeat bottom center;
  @include background-cover;
  opacity: 0;
  section{
    @include flexbox;
    @include flex-align-center;
    background: url("../../img/mountain.png") no-repeat bottom center;
    @include background-cover;
    z-index: 999;
    opacity: 1;
  }
}

.content{
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: left;
  opacity: 0;
}

h3{
  font-family: "Roboto Condensed", "Helvetica Neue", "Arial", sans-serif;
  font-size: 49px;
  font-weight: 900;
  letter-spacing: 11px;
  @media screen and (max-width: $small) {
    
  }
}

h2{
  font-size: 13.5px;
  margin-bottom: 25px;
}

p{
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
  span{
    font-weight: 200;
  }
}

.links{
  margin-top: 25px;
  a{
    display: inline-block;
    margin-right: 16px;
    text-decoration: none;
    font-family: "Roboto Condensed", "Helvetica Neue", "Arial", sans-serif;
    font-size: 19.5px;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
    @include transition (opacity .2s ease-out);
    &:hover{
      opacity: .3;
    }
    @media screen and (max-width: $small) {
      
    }
  }
}

svg{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

circle {
  fill: white;
}
