@charset "utf-8";
@import "bourbon/bourbon";

$break-small: 600px;
$break-medium: 1000px;
$break-large: 1000px;

html,body {
  font-family: 'IM Fell Great Primer', serif;
  height:100%;
  margin: 0;
}

p {
  position: fixed;
  bottom: 0;
  right: 10px;
  opacity: .50;
  color: white;
  font-size: 10px;
}
