@charset "utf-8";
@import "bourbon/bourbon";

html,body {
	font-family: 'IM Fell Great Primer', serif;
	height: 100%;
	margin: 0;
  overflow: hidden;
}

.links{
  width: 100%;
  height: 100%;
  div{
    position: relative;
    /*&:nth-child(1){ width: 8%;  }
    &:nth-child(2){ width: 8.5%;    }
    &:nth-child(3){ width: 9%;  }
    &:nth-child(4){ width: 10.5%;    }
    /*@media screen and (max-width: 1900px){
      left: 27%;
      top: 57%;
      height: 5%;
    }*/

    @for $i from 0 through 10 {
      @media screen and (max-width: 2000px - ($i*100)) { 
        left: 30%-($i*2);
        width: 10%+($i);
      }
    }

    @for $i from 0 through 5 {
      @media screen and (max-height: 1000px - ($i*100)) { 
        top: 55.5%+($i);
        height: 4%+($i);
      }
    }

  }
	div a{
    width: 100%;
    height: 100%;
    display: block;

    border: 1px black solid;
    opacity: .25;
    background-color: red;
  }
}

p {
  position: fixed;
  bottom: 0;
  right: 10px;
  opacity: .50;
  color: white;
  font-size: 10px;
}
