* {
  margin: 0;
  padding: 0; }

html {
  font-family: 'IM Fell Great Primer', serif;
  height: 100%;
  overflow: hidden; }

#links {
  position: absolute; }
  #links a {
    display: block;
    height: 25%; }
    #links a:nth-child(1) {
      width: 73%; }
    #links a:nth-child(2) {
      width: 93%; }
    #links a:nth-child(3) {
      width: 83%; }
    #links a:nth-child(4) {
      width: 100%; }
    #links a:hover {
      border-bottom: 2px #3f3f3f solid; }

p {
  position: fixed;
  bottom: 0;
  right: 10px;
  opacity: .50;
  color: white;
  font-size: 10px; }
