@charset "utf-8";
@import "bourbon/bourbon";

@mixin bg-image($image){
  background: url($image) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'IM Fell Great Primer', serif;
}

html{
	height: 100%;
  overflow: hidden;
}

#links{
  position: absolute;
  a{
    display: block;
    height: 25%;
    &:nth-child(1){ width: 73%; }
    &:nth-child(2){ width: 93%; }
    &:nth-child(3){ width: 83%; }
    &:nth-child(4){ width: 100%; }
    &:hover{ 
      border-bottom: 2px #3f3f3f solid;
      border-radius: 2px; 
    }
  }
}

.mobile{
  display: none;
  width: 100%;
  height: 100%;
  @include bg-image("../img/mobile.jpg");
  h1{
    font-size: 12vw;
    margin-bottom: 0;
  }
  a{
    font-size: 6vw;
    text-decoration: none;
    color: black;
  }
  p{
    font-size: 5vw;
    margin-top: 5vh; 
    margin-bottom: 0;
  }
}

.mobile-container{
  margin: 9vw;
  margin-top: 0;
  margin-bottom: 100vh;
}

.copyright{
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: .75;
  color: white;
  font-size: 10px;
}

@media (max-width: 550px), handheld and (orientation: portrait) {
  #links{
    display: none;
  }
  .mobile{
    display: block;
  }
}
