@import "../bourbon/bourbon";

$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: "Oswald", "Helvetica Neue", "Arial", sans-serif;

$small: 500px;
$medium: 700px;

@mixin background-cover{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@include keyframes(rotate) {
  from { @include transform(rotate(0deg)); }
  to { @include transform(rotate(360deg)); }
}

*{
  margin: 0;
}

html,body{
  height: 100vh;
  overflow: hidden;
}

body{
  background: black;
  color: white;
}

section{
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.container{
  background: url("../../img/moon.jpg") no-repeat bottom center;
  @include background-cover;
  opacity: 0;
}

.foreground{
  background: url("../../img/mountain.png") no-repeat bottom center;
  @include background-cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
}

.mobile{
  background: url("../../img/stars.png") no-repeat bottom center;
  @include background-cover;
  @include animation(rotate 70s linear infinite);
  position: absolute;
  left: -50px;
  top: -50px;
  min-width: 700px;
  min-height: 700px;
  z-index: 1;
  display: none;
}

footer{
  font-family: $font-primary;
  position: fixed;
  bottom: 5px;
  right: 5px;
  opacity: 0;
  color: white;
  font-size: 10px;
  z-index: 3;
  @media screen and (max-width: $medium) {
    font-size: 6px;
  }
}

.content{
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-primary;
    font-weight: 200;
  text-align: center;
  opacity: 0;
  z-index: 4;
  @media screen and (max-width: $small) {
    width: 90vw;
  }
}

h3{
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 10.5px;
  margin-bottom: 5px;
  @media screen and (max-width: $medium) {
    font-size: 40px;
  }
  @media screen and (max-width: $small) {
    font-size: 31px;
    letter-spacing: 6px;
  }
}

h2{
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 3px;
  margin-bottom: 40px;
  @media screen and (max-width: $small) {
    margin-bottom: 15px;
  }
  @media screen and (max-width: $medium) {
    font-size: 15px;
    margin-bottom: 25px;
  }
}

p{
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
  @media screen and (max-width: $small) {
    font-size: 16px;
  }
}

.cycle{
  text-align: left;
  font-weight: 100;
  margin-left: 35px;
  @media screen and (max-width: $small) {
    text-align: center;
    margin-left: 0px;
  }
  a{
    font-size: 16.5px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    @include transition (opacity .15s ease-out);
    &:hover{
      opacity: .3;
    }
    @media screen and (max-width: $small) {
      font-size: 15px;
      margin-left: 0px;
    }
  }
  span{
    @media screen and (max-width: $small) {
      font-size: 15px;
      margin-left: 0px;
    }
  }

}

br{
  display: none;
  @media screen and (max-width: $small) {
    display: block;
  }
}

.hr{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 200px;
  border-top: 2px solid white;
  opacity: .7;
  @media screen and (max-width: $small) {
    margin-top: 15px;
  }
  @media screen and (max-width: $medium) {
    margin-top: 25px;
  }
}

ul{
  list-style-type: none;
  padding: 0;
  li{
    display: inline-block;
    margin-right: 20px;
    &:last-child{
      margin-right: 0px;
    }
    @media screen and (max-width: $small) {
      display: block;
      margin: 0px;
      margin-bottom: 10px;
    }
  }
}

li > a{
  font-family: $font-secondary;
  font-size: 19px;
  text-decoration: none;
  letter-spacing: 5px;
  color: white;
  @include transition (opacity .15s ease-out);
  &:hover{
    opacity: .3;
  }
  @media screen and (max-width: $small) {
    font-size: 20px;
  }
  @media screen and (max-width: $medium) {
    font-size: 15px;
  }
}

svg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}
