@media screen and (min-width: 30em) {
  #navbar {
    width: calc((74%)/6); // 1/6 of width - padding, hardcoded, fix later
  }
}
@media screen and (max-width: 30em) {
  #navbar {
    background: linear-gradient(to bottom, $cl-bg-main 70%, rgba($cl-bg-main, 0) 100%);
  }
}

#navbar {
  a {
    color: $cl-text-main;
    text-decoration: none;
  }

  li.target {
    text-decoration: underline;
  }

  li:nth-of-type(2) {
    @include set-nav-color(1);
  }

  li:nth-of-type(3) {
    @include set-nav-color(2);
  }

  li:nth-of-type(4) {
    @include set-nav-color(3);
  }

  li:nth-of-type(5) {
    @include set-nav-color(4);
  }
}
